dotfiles/bin/oc filter=lfs diff=lfs merge=lfs -text
dotfiles/bin/bw filter=lfs diff=lfs merge=lfs -text
dotfiles/bin/terraform filter=lfs diff=lfs merge=lfs -text
dotfiles/bin/aws-nuke filter=lfs diff=lfs merge=lfs -text
aws-nuke filter=lfs diff=lfs merge=lfs -text
